.anchor{ 
  display: block;
  height: 95px; /*same height as header*/
  margin-top: -95px; /*same height as header*/
  visibility: hidden;
}

#fixedbutton {
    position: fixed;
    bottom: 30px;
    right: 30px; 
}
